@using ECom.Site.Helpers
@using ECom.Site.Models
@using ECom.Messages
@using MvcContrib.UI.Grid;
@using MvcContrib.UI.Pager;
@using MvcContrib.Pagination;
@using ECom.Site.Areas.Shop.Models;

@model AddNewOrderViewModel

@{
    ViewBag.Title = "Add new order";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/linkToProductPreview.js")"></script>

<script type="text/javascript">
	$(function () {
		$('#ProductUrl').linkToProductPreview({
			url: '@Url.Action("ParseProductUrl", "Order", new {Area = "Shop"})',
			loaderImage: '@Url.Content("~/Content/images/loader.gif")',
			productImageContainer: 'divProductImageContainer',
			productImageHidden: 'ImageUrl'
		});
	});
</script>

<div id="content">
	<h2>Add new order</h2>

	@using (Html.BeginForm()) {
	<div class="row">
		<div class="span6">
			@Html.FormInputFor(m => m.ProductUrl, "Product Url", "input-xxlarge")
			@Html.FormInputFor(m => m.Name, "Product Name", "input-xxlarge")
			@Html.FormInputFor(m => m.Description, "Description", "input-xxlarge" )
			@Html.FormInputFor(m => m.Price, "Price", "input-xxlarge" )
			@Html.FormInputFor(m => m.Size, "Size")
			@Html.FormInputFor(m => m.Color, "Color")
			@Html.FormInputFor(m => m.Quantity, "Quantity")

			@Html.Hidden("OrderId", Model.OrderId.Id)

			<input type="submit" class="btn btn-primary" value="Add"/>
		</div>
		<div class="span3">
			<div id="divProductImageContainer">
				@if (!String.IsNullOrWhiteSpace(Model.ImageUrl))
				{
					<img src="@Model.ImageUrl" />
				}
			</div>
			@Html.HiddenFor(m => m.ImageUrl)
		</div>
	</div>
	}
	<div class="row">
		@Html.Grid(Model.Items).Columns(column =>
		{
			column.For(x => !String.IsNullOrWhiteSpace(x.ImageUrl) 
								? MvcHtmlString.Create("<a href='"  + x.ProductUrl + "' target='_blank'><img style='height:40px;' src='" + x.ImageUrl + "' /></a>") 
								: MvcHtmlString.Empty);
			column.For(x => MvcHtmlString.Create("<a href='"  + x.ProductUrl + "' target='_blank'>" + x.Name + "</a>"));
			column.For(x => x.Size);
			column.For(x => x.Color);
			column.For(x => x.Price);
			column.For(x => x.Quantity);
			column.For(x => x.Total);
			column.For(x => Html.Command(new RemoveItemFromOrder(new OrderId(x.OrderId), new OrderItemId(x.ItemId)).WithEnvelope())).Encode(false);
		}).Attributes(@class => "table table-striped").Empty("Add some items to your order.")
	</div>

	@if(Model.Items.Any())
	{
	<div class="row">
		<div class="span3 offset9">
			<strong>Total:</strong> @Model.Total 
		</div>
		<br />
		<br />
		<div class="span3 offset9">
			<input type="submit" class="btn btn-success" value="Submit"/>
		</div>
	</div>
	}
</div>