@using ECom.Site.Helpers
@using ECom.Site.Models
@using ECom.Messages
@using MvcContrib.UI.Grid;
@using MvcContrib.UI.Pager;
@using MvcContrib.Pagination;
@using ECom.Site.Areas.Admin.Models;

@model CategoriesTreeViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@helper TreeNode(CategoriesTreeNodeViewModel node)
{
    <li >
        <span><a href="@Url.Action("Details", new {id = node.Name})">@node.Name</a></span> 
		<span>@Html.Command(node.MoveCategoryCommand.WithEnvelope(node.MoveCategoryCommand.Name), "icon-move")</span>

        @if(node.ChildNodes.Count > 0)
        {
            <ul>
            @foreach(var child in node.ChildNodes)
            {
                @TreeNode(child)
            }
            </ul>
        }
    </li>
}

<div id="content">
	<h2>Categories</h2>

<ul class="nav nav-list">

@foreach (var root in Model.Roots)
{
        @TreeNode(root)
}

</ul>

	<br />
	<br />

	@Html.Command(Model.CreateCategory.WithEnvelope("CreateCategory"))
</div>
