<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Site.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/nifty/niftyCorners.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/print.css")" media="print" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/ie.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/screen.css")" />
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/demo_table.css")" />
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jqModal.css")" />

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")"></script>
	
	<script type="text/javascript" src="@Url.Content("~/Scripts/jqModal.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.form.js")"></script>

	<script type="text/javascript" src="@Url.Content("~/Content/nifty/niftycube.js")"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            Nifty("ul#menu a", "medium #ffffff top");
            Nifty("#main", "small #ffffff bottom ");
        });
    </script>
</head>
<body>
    <div class="container">
        <div id="header" class=" span-22 prepend-1">
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
        </div>
        <div id="menucontainer" class="span-23">
            <ul id="menu">
                <li>@Html.ActionLink("Home", "Index", "Home", new { Area = String.Empty }, null)</li>
                <li>@Html.ActionLink("Manage Products", "Index", "Product", new { Area = "Admin" }, null)</li>
				<li>@Html.ActionLink("Manage Categories", "Index", "Category", new { Area = "Admin" }, null)</li>
            </ul>
        </div>
        <div id="main" class="span-23 append-top">
            @RenderBody()
        </div>
        <div class="span-23">
            <p id="footer">
            </p>
        </div>
    </div>
</body>
</html>
